body{
    background-color: #FFF;
    color: #333;
    max-width: 800px;
    margin: auto;
    font-family: sans-serif;
}

p{
    line-height: 1.6;
}

article + article{
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px solid #CCC;
}
